<!-- ======= Header ======= -->
<header class="
              md:ml-48
              lg:ml-28" id="header">
  <div class="container">
    <div class="h-screen flex items-center">
      <div class="grid grid-rows-4">

        <h1 class="font-bold text-4xl text-center
                  sm:text-4xl sm:text-center
                  md:text-4xl md:text-center
                  lg:text-5xl lg:text-start"><a href="/">Raul Tristan</a>
        </h1>
        
        <div class="flex flex-row text-xl text-center mx-2 mt-0
                  md:text-xl md:text-center
                  lg:mt-3 lg:text-2xl lg:text-start lg:mx-0">
          <h2 class="opacity-80">I'm a passionate</h2>
          <span class="font-bold ml-2 border-b-0 border-yellow-300
                      lg:border-b-2">web developer</span>
          <h2 class="opacity-80 ml-2">from Peru.</h2>
        </div>


        <!-- <nav id="navbar" class="mt-7">
          <ul class="flex flex-row">
            <li><a class="border-b-4 border-yellow-300 hover:border-b-4" href="#header">Home</a></li>
            <li><a class="ml-10 border-b-4 border-gray-900 hover:border-b-4
                          hover:border-yellow-300 transition
                          ease-in-out duration-500" href="#about">About</a></li>
            <li><a class="ml-10 border-b-4 border-gray-900 hover:border-b-4
                          hover:border-yellow-300 transition
                          ease-in-out duration-500" href="#resume">Resume</a></li>
            <li><a class="ml-10 border-b-4 border-gray-800 hover:border-b-4
                          hover:border-yellow-300 transition
                          ease-in-out duration-500" href="#services">Services</a></li>
            <li><a class="ml-10 border-b-4 border-gray-800 hover:border-b-4
                          hover:border-yellow-300 transition
                          ease-in-out duration-500" href="#portfolio">Portfolio</a></li>
            <li><a class="ml-10 border-b-4 border-gray-800 
                          hover:border-b-4 hover:border-yellow-300 transition
                          ease-in-out duration-500" href="#contact">Contact</a></li>
          </ul>
        </nav> -->

        <div class="text-center mt-10
                  lg:mt-7 lg:text-start">
          <a class="rounded-full 
                    p-2 bg-gray-700 
                    hover:p-2 hover:bg-yellow-300
                    transition ease-in-out duration-500"
                    href="https://www.linkedin.com/in/ra%C3%BAl-tristan/" target="_blank"><i class="text-xl bi bi-linkedin"></i>
          </a>
          <a class="rounded-full ml-3
                    p-2 bg-gray-700 
                    hover:p-2 hover:bg-yellow-300
                    transition ease-in-out duration-500"
                    href="https://github.com/raul-tristan" target="_blank"><i class="text-xl bi bi-github"></i>
          </a>
          <a class="rounded-full ml-3
                    p-2 bg-gray-700 
                    hover:p-2 hover:bg-yellow-300
                    transition ease-in-out duration-500"
                    href="/"><i class="text-xl bi bi-download"></i>
          </a>
        </div>

      </div>


    </div>


  </div>
</header><!-- End Header -->



<!-- <nav>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        

        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-6">
              <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Home</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">About</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Resume</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Services</a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Portfolio</a>
              <a href="#" class="text-gray-300 py-2">Contact</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </nav> -->